#=================================================
# Python SDK
# Version: 1.0.0
# Last Updated: 2017/12/08
#=================================================

#-------------------------------------------------
# Language Exclusions
#-------------------------------------------------
__pycache__
*.py[cod]
*.so

#-------------------------------------------------
# SDK Specific Exclusions
#-------------------------------------------------
log
sample-*.json
*.log

#-------------------------------------------------
# Build Exclusions
#-------------------------------------------------
build
env
develop-eggs
dist
eggs
lib
lib64
target
temp
*.egg
*.egg-info

#-------------------------------------------------
# Installer Logs
#-------------------------------------------------
pip-log.txt
pip-delete-this-directory.txt

#-------------------------------------------------
# IDE Exclusions
#-------------------------------------------------
.c9
.idea
.project
.python-version
.settings
.vscode
nbproject

#-------------------------------------------------
# Other Nonsense
#-------------------------------------------------
bcs*
ThreatConnect-urllib.py